*.apk
*.ap_
*.aab
*.dex
*.class
/build/
/local.properties
/.idea/
.gradle/
*.iml
.DS_Store
/build.gradle.bak
captures/
.externalNativeBuild
.cxx
local.properties
gradle-8.0/
heli_rfid_*.apk
!releases/
*.exe
