<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helirfid.ultimate">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="HeliRFID Ultimate v3.0.1"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>

    </application>

</manifest>
